<a href="https://colab.research.google.com/github/pn0159/prathima_INFO5731_Fall2020/blob/master/Prathima_Nuthalapati_INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# I need to generate 12 random numbers from 1-100
# For this i am using built-in module'random' that can be used to generate random numbers
# So i am importing that module
# I used 'randint' function in random module, to return random number of given range

import random
import numpy as np
# I used seed(),a method in python's random module, that initializes the random generator
#useful to reproduce the data.Re-using seed value can generate same data.
np.random.seed(52)

#created a empty list so that i can append all generated random numbers to this list
my_list=[]

# I used for loop 
for i in range(1,13):
  x=random.randint(1,100)
  my_list.append(x)

print("Generating Random Numbers between 1 and 100:\n", my_list)
print("\n")

#The sorted() function returns a sorted list of the specified iterable object.
#We can specify ascending or descending order. Strings are sorted alphabetically, and numbers are sorted numerically.

# Ascending order
a=sorted(my_list)
print("The list of Numbers in Ascending Order:\n", a)
print("\n")

#Descending order
b=sorted(my_list, reverse=True)
print("The list of Numbers in Descending Order:\n" , b)
print("\n")

# Calculating the average of the group:
#Numpy library is commonly used library to work on large multi-dimensional arrays. 
#It also has a large collection of mathematical functions to be used on arrays to perform various tasks. 
#One important one is the mean() function that will give us the average for the list given.
#In other way we can also use built-in-functions like sum() and len() to find avg=sum()/len()

from numpy import mean
Average_of_group=mean(my_list)
print("The average of the group is:", round(Average_of_group,2))

Generating Random Numbers between 1 and 100:
 [44, 30, 78, 100, 6, 29, 18, 56, 72, 53, 36, 85]


The list of Numbers in Ascending Order:
 [6, 18, 29, 30, 36, 44, 53, 56, 72, 78, 85, 100]


The list of Numbers in Descending Order:
 [100, 85, 78, 72, 56, 53, 44, 36, 30, 29, 18, 6]


The average of the group is: 50.58

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# For Question 2(1):
# I used 'input' function to allow user to give input.
first_sentence=input("Enter the first sentence:\n ")
second_sentence=input("Enter the second sentence:\n ")

#For Question2(2):
# I am using 'findall()'frunction from 're' module because it finds all the matches
#and returns them as a list of strings with each string representing one match

import re
reg_exp = r"[0-9a-zA-Z_]+|\$[\d\.]+|\S+"
sen1=re.findall(reg_exp,first_sentence)
sen2=re.findall(reg_exp,second_sentence)
final_list=sen1+sen2
print("The list where each element correspond to a word in the sentence:")
print(final_list)

Enter the first sentence:
 I am Prathima Nuthalapati.
Enter the second sentence:
 I am doing INFO5731 Course.
The list where each element correspond to a word in the sentence:
['I', 'am', 'Prathima', 'Nuthalapati', '.', 'I', 'am', 'doing', 'INFO5731', 'Course', '.']

In [ ]:
#For Question2(3):

print("The list of words that occur in both sentences are:")
for ch in sen1:
  for ch2 in sen2:
    if ch==ch2:
      print(ch)

The list of words that occur in both sentences are:
I
am
.

In [ ]:
#For Question2(4):
#Removing Punctuations
#Defining punctuation
punctuation_list=[':',';',',','.','!','$','@','#','%']
no_punctuation=""
for abc in final_list:
  if abc not in punctuation_list:
    no_punctuation=no_punctuation + abc

print(no_punctuation)

In [ ]:
#For Question2(5):
# Counting for number of vowels.I am first making all to lower case and then check for vowels "aeiou".
#instead of transforming into lower case we can also check for vowels as "aeiouAEIOU"
first_sentence=first_sentence.lower()
second_sentence=second_sentence.lower()
vowel_counts = {}

for i in "aeiou":
  count=first_sentence.count(i)
  count1=second_sentence.count(i)
  vowel_counts[i]=count+count1

In [ ]:
print("The number of times vowel appears in each sentences:")
vowel_counts

The number of times vowel appears in each sentences:

{'a': 7, 'e': 1, 'i': 6, 'o': 3, 'u': 2}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
#Calculating the Volume of a sphere for Radius in range 1-10
#I can give 'pi' value or i can import 'pi' function from the module 'math'

from math import pi
print("The volume 'V' of a sphere with radius 'r' in the range 1-10:\n")
print("r\t\tV")

# It was mentioned in question to calculate Volume for radius in range 1-10
#so i am using 'for' loop to do this.Since i was given a specific range i used'range' function

for r in range(1,11):
  V=(4/3)*pi*r**3
  print(r," ",V)

The volume 'V' of a sphere with radius 'r' in the range 1-10:

r		V
1   4.1887902047863905
2   33.510321638291124
3   113.09733552923254
4   268.082573106329
5   523.5987755982989
6   904.7786842338603
7   1436.7550402417319
8   2144.660584850632
9   3053.6280592892786
10   4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
#For Question 4(1):
#Initially i am reading the csv file.I am sorting for "occupied housing units" field.

import pandas as pd
my_dataframe=pd.read_csv("/content/sample_data/Assignment1_denton_housing.csv",index_col="year")

In [ ]:
my_dataframe.sort_index(axis=0,ascending=True,inplace=True)
my_dataframe2=my_dataframe[my_dataframe.title_field=="Occupied Housing Units"].sort_index(axis=0,ascending=True)
my_dataframe2=my_dataframe2.reset_index()

#Calculating the difference in the number of Occupied Housing Units for the consecutive years.
abc1=my_dataframe2[["year","value"]].values

#Finding the difference in number of occupied housing units
list_new=[]
for i in range(len(abc1)-1):
  list_new.append(abc1[i+1][1]-abc1[i][1])
list_new

#Printing the 'difference' value for consecutive years
print("Consecutive_years\tDifference_value")
for i in range(2008,2014):
  print(i,"-",i+1,"           ",list_new[i-2008])

print("\n")

#Printing the ascending order

data_2 = [['2008-2009', -795],['2009-2010', 5091],['2010-2011', -303],['2011-2012', 1404],['2012-2013', 1565],['2013-2014', 2622]]  
B = pd.DataFrame(data_2, columns = ['Consecutive_years',  'Difference_value'])
sort_by_diff = B.sort_values('Difference_value') 

print("The Ascending order of the difference value for consecutive years is:\n")

print(sort_by_diff)

Consecutive_years	Difference_value
2008 - 2009             -795
2009 - 2010             5091
2010 - 2011             -303
2011 - 2012             1404
2012 - 2013             1565
2013 - 2014             2622


The Ascending order of the difference value for consecutive years is:

  Consecutive_years  Difference_value
0         2008-2009              -795
2         2010-2011              -303
3         2011-2012              1404
4         2012-2013              1565
5         2013-2014              2622
1         2009-2010              5091

In [ ]:
#For Question 4(2):
my_dataframe.reset_index(inplace=True)
occupied_list=[]
vacant_list=[]

#Finding the number of vacant and occupied housing units
for i in range(2008,2015):
  occupied_list.append((my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Occupied Housing Units")].value.values)/(my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Total Housing Units")].value.values))
  vacant_list.append((my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Vacant Housing Units")].value.values)/(my_dataframe[(my_dataframe["year"]==i) & (my_dataframe["title_field"]=="Total Housing Units")].value.values))

#Printing the percentage of housing units which are vacant and occupied
print("Years\tVacant Housing Units\t Occupied Housing Units")
for i in range(2008,2015):
  print(i,"\t\t","{0:.0f}%".format(vacant_list[i-2008][0]*100),"\t\t","{0:.0f}%".format(occupied_list[i-2008][0]*100))

Years	Vacant Housing Units	 Occupied Housing Units
2008 		 11% 		 89%
2009 		 9% 		 91%
2010 		 8% 		 92%
2011 		 9% 		 91%
2012 		 7% 		 93%
2013 		 9% 		 91%
2014 		 6% 		 94%

In [ ]:
#For Question 4(3):

new_list=[]
new_list1=[]

for i in range(2008,2015):
  new_list.append(occupied_list[i-2008][0])
  new_list1.append(vacant_list[i-2008][0])

print("\t\t\t Year\t Value")

#Highest number of housing units were vacant and occupied

for i in enumerate(occupied_list,start=2008):
  if(i[1][0]==max(new_list)):
    print("Occupied Housing Units \t",i[0],"\t",(my_dataframe[(my_dataframe.year==i[0])&(my_dataframe.title_field=="Occupied Housing Units")].value.values)[0])
    break
for i in enumerate(vacant_list,start=2008):
  if(i[1][0]==max(new_list1)):
    print("Vacant Housing Units \t",i[0],"\t",(my_dataframe[(my_dataframe.year==i[0])&(my_dataframe.title_field=="Vacant Housing Units")].value.values)[0])
    break

			 Year	 Value
Occupied Housing Units 	 2014 	 46295
Vacant Housing Units 	 2008 	 4483

In [ ]:
#For Question 4(4):
#Calculate the harmonic mean of the total housing units and print it out.
# Harmonic mean is reciprocal of arithmetic mean
#it is the number of observations, divided by the sum of reciprocals of the observations. 
#This is also is one of several kinds of average and it is appropriate for situations when the average of rates is desired.

from scipy import stats

my_dataframe[my_dataframe.title_field=="Total Housing Units"].value.values

array([41194, 39499, 44642, 44917, 45121, 47888, 49109])

In [ ]:

print("The harmonic mean of the total housing units:\n")
stats.hmean(my_dataframe[my_dataframe.title_field=="Total Housing Units"].value.values)

The harmonic mean of the total housing units:

44398.28543969185