<a href="https://colab.research.google.com/github/pn0159/prathima_INFO5731_Fall2020/blob/master/Prathima_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
#I can calculate length of the string by using 'len' function
my_string ="Prathima"
y=len(my_string)
print("The length of the string:",y)

# Calculating the length of string using for loop
def length_of_string(mystring):
  counter=0
  for i in mystring:
    counter+=1
  return counter
mystring="Prathima"
a= length_of_string(mystring)
print("The length of the string:",a)

The length of the string: 8
The length of the string: 8

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# I am using for loop to count the number of characters in a string
# I am initializing the string

sample_string="google.com"
char_count={}
for i in sample_string:
  if i in char_count:
    char_count[i]+=1
  else:
    char_count[i]=1
print("Count of the number of characters in a string:" +str(char_count))

Count of the number of characters in a string:{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
# I am using 'sum' function to add all items in the list
my_list=[1,2,3,4,5,6]
y=sum(my_list)
print("The sum of items in a list:",y)

# I am also using for to sum a list
def list(items):
  num=0
  for y in items:
    num+=y
  return num
z=list([1,2,3,4,5,6])
print("The sum of items in a list:",z)

The sum of items in a list: 21
The sum of items in a list: 21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# I am using replace function 
def my_char(my_string):
  char= my_string[0]
  my_string1=my_string.replace(char,'$')
  my_string1=char+ my_string1[1:]
  return my_string1
z=my_char('restart')
print("Final result:",z)

Final result: resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
z=input("Enter the value for a")
m=input("Enter the value of b")
S= 3.14*(1+a/b)**3
print("The output result for S:",S)

Enter the value for a3
Enter the value of b4
The output result for S: 39.88962962962962

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Initially i will define all dictionaries and then update all these into new one
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for dictionary in (dic1,dic2,dic3):
  dic4.update(dictionary)
print("The concatenated dictionary result:", dic4)

The concatenated dictionary result: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
# By using if statement
my_tuple = ("Prathima", "Chowdary", "Nuthalapati")
if "Prathima" in my_tuple:
  print("Yes, 'Prathima' is in the tuple list")
else:
  print("Prathima is not in the tuple list")

# Other way is by simply initializing tuple and using in to find if it exists
my_tuple= ("Prathima", "Chowdary", "Nuthalapati")
print("Prathima" in my_tuple)

Yes, 'Prathima' is in the tuple list
True

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
# Initializing set
my_set=set([15,16,17,18,19,20])
a=max(my_set)
b=min(my_set)
print("The maximum value in a set is:",a)
print("The minimum value in a set is:",b)

The maximum value in a set is: 20
The minimum value in a set is: 15

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [ ]:
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
final= random.choice(studnet_list)
print(final)

#try code
import random
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
cases = []
group = int(len(studnet_list)/5)


while count < len(studnet_list):
    for num in range(0,group):
        print("Group {my_group}".format(my_group = num +1))

        for i in range(count,count+5):
            print("Studnet : ",studnet_list[i+0])

tv0119